.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-color-border);
}

.body {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  background: #efefef;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  // margin-right: -20px;
  // padding-right: 20px;
  -webkit-overflow-scrolling: touch
}

.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
}